<strong>Recuperando senha</strong>
<p>Como solicitado, pelo aplicativo aqui está a sua nova senha.</p>
<p>Por favor, ao realizar um novo login por questões de segurança altere a sua senha em seu perfil.</p>
<p>Sua nova senha: {{ password }}</p>
